/* Coolors Exported Palette - coolors.co/ede7dc-ce7a5f-8cd1ce-e2b84e-97bc91 */

/* HSL */
$color1: hsla(39%, 32%, 90%, 1);
$color2: hsla(15%, 53%, 59%, 1);
$color3: hsla(177%, 43%, 68%, 1);
$color4: hsla(43%, 72%, 60%, 1);
$color5: hsla(112%, 24%, 65%, 1);
$color6: hsla(333%, 15%, 14%, 1);

/* RGB */
$color1: rgba(237, 231, 220, 1);
$color2: rgba(206, 122, 95, 1);
$color3: rgba(140, 209, 206, 1);
$color4: rgba(226, 184, 78, 1);
$color5: rgba(151, 188, 145, 1);
$color6: rgba(41, 30, 35, 1);

/* HEX */
$color1: #EDE7DC;
$color2: #CE7A5F;
$color3: #8CD1CE;
$color4: #E2B84E;
$color5: #97BC91;
$color6: #291E23;
